@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.navbar-active {
    @apply dark:bg-slate-500 rounded-md bg-slate-300;
}

#js-multiple .ts-wrapper .option .url {
	font-size: 18px;
	display: block;
}